[Unit]
Description=Run Dhi health check every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=dhi-health-check.service

[Install]
WantedBy=timers.target
